@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body{

}

img{
    width: 100%;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

a{
    padding: 20px;
    text-decoration: none;
    display: block;
    background-color: rgb(126, 12, 8);
    color: rgb(255, 255, 255);
    font: normal bold 1.5em arial;
    text-align: center;
    font-variant: small-caps;
}

a:hover{
    background-color: red;
}